<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
      @import "bootstrap"; 
      .container{
        text-align:center
      }
    </style>
  </head>

  <body>
  <div class="container">
    <h3> HOUSE1 </h3>
    <%= @id %>
    <%= image_tag @image_name, size: '600x450' %>
    <br>
  </div>
  </body>
</html>
